.menu {
	border: 2px solid;
	background-color: coral;
	padding: 10px;
	margin: 20px;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
}

@media (max-width: 600px) {
  .menu {
    background: blue;
    font-size: 10px;
    margin: 20px;
    padding: 5px;
  }
}